@import '../../styles/base';

.app {
  $this: &;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    @include type-style-manhattan;

    align-items: center;
    display: flex;
    flex: 0 0;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__header-link {
    color: map-get($colors, allen);
    margin-left: 10px;
    text-decoration: none;
  }

  &__header-links {
    a {
      color: map-get($colors, allen);
      margin-left: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    align-items: stretch;
    display: flex;
    flex: 1;
  }

  &__section-title {
    @include type-style-queens;

    color: map-get($colors, barrow);
    margin: 0;
    padding: 15px;
    position: relative;
  }

  &__badge {
    $size: 35px;

    align-items: center;
    background-color: map-get($colors, bayard);
    border-radius: $size;
    color: rgba(map-get($colors, barrow), 0.2);
    display: flex;
    font-family: sans-serif;
    height: $size;
    justify-content: center;
    left: 0;
    line-height: $size + 1;
    margin-top: 2px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $size;
  }

  &__message {
    flex: 0 0 33%;

    #{$this}__section-title {
      align-items: center;
      display: flex;

      .spinner {
        margin-right: 15px;
        margin-top: 2px;
      }
    }
  }

  &__message-type {
    margin-top: 30px;

    &--new {
      #{$this}__message-title span {
        color: #00ff62;
      }
    }

    &--updated {
      #{$this}__message-title span {
        color: #fb0;
      }
    }

    &--removed {
      #{$this}__message-title span {
        color: #ff3c00;
      }
    }
  }

  &__message-title {
    @include type-style-brooklyn;

    align-items: baseline;
    color: map-get($colors, beach);
    display: flex;
    padding: 5px 15px;

    span {
      font-size: 1.1em;
      font-weight: 700;
      margin-left: 10px;
    }
  }

  &__message-items {
    border-top: 1px solid rgba(#fff, 0.05);
    font-family: Inconsolata, monospace;
    font-size: 15px;
    margin-top: 15px;
  }

  &__message-item {
    padding: 5px 10px 6px;

    &:nth-child(even) {
      background-color: rgba(#fff, 0.01);
    }

    &--empty {
      #{$this} {
        &__message-field {
          color: #4d4d4d;
        }
      }
    }
  }

  &__message-field {
    color: #7a7165;
    margin: 5px;
  }

  &__state {
    background-color: #212121;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex: 0 0 33%;
    width: 33%;

    #{$this}__section-title {
      padding-left: 35px;
    }

    pre {
      overflow: hidden;
      padding: 25px;
    }

    code {
      color: #4d4746;
      font-family: Inconsolata, monospace;
      font-size: 15px;
      line-height: 22px;
    }

    .hljs-attr {
      color: #808080;
    }

    .hljs-number {
      color: #7cfc00;
    }

    .hljs-string {
      color: #00c3ff;
    }
  }

  &__rendered {
    flex: 0 0 33%;

    #{$this}__badge {
      background-color: #212121;
      color: darken(map-get($colors, bayard), 5%);
    }

    #{$this}__section-title {
      padding-left: 35px;
    }
  }

  &__rendered-items {
    margin-top: 10px;
    padding: 15px;
  }
}
