@import '../../styles/base';

.app {
  $this: &;

  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__header {
    @include type-style-manhattan;

    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    width: 100%;
    z-index: 1;
    flex: 0 0;
  }

  &__header-link {
    color: map-get($colors, allen);
    margin-left: 10px;
    text-decoration: none;
  }

  &__header-links {
    a {
      color: map-get($colors, allen);
      margin-left: 10px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__content {
    display: flex;
    flex: 1;
    align-items: stretch;
  }

  &__section-title {
    @include type-style-queens;

    color: map-get($colors, beach);
    padding: 5px;
    margin: 0;
  }

  &__message {
    flex: 1;
  }

  &__message-type {
    margin-top: 30px;

    &--new {
      #{$this}__message-title span {
        color: #00ff62;
      }
    }

    &--updated {
      #{$this}__message-title span {
        color: #ffbb00;
      }
    }

    &--removed {
      #{$this}__message-title span {
        color: #ff3c00;
      }
    }
  }

  &__message-title {
    @include type-style-brooklyn;

    display: flex;
    color: map-get($colors, barrow);
    align-items: baseline;
    padding: 5px;

    span {
      margin-left: 10px;
      font-size: 1.1em;
      font-weight: 700;
    }
  }

  &__message-items {
    font-family: Inconsolata, monospace;
    font-size: 15px;
    margin-top: 15px;
    border-top: 1px solid rgba(#fff, 0.05);
  }

  &__message-item {
    padding: 5px 0 6px 0;

    &:nth-child(even) {
      background-color: rgba(#fff, 0.02);
    }

    &--empty {
      #{$this} {
        &__message-field {
          color: #333333;
        }
      }
    }
  }

  &__message-field {
    margin: 5px;
    color: #7a7165;
  }

  &__state {
    flex: 1;

    background-color: #2a2a2a;

    code {
      font-family: Inconsolata, monospace;
      font-size: 15px;
      line-height: 18px;
      color: #696969;
    }

    .hljs-attr {
      color: #b3b3b3;
    }

    .hljs-number {
      color: #00ff62;
    }

    .hljs-string {
      color: #00ccff;
    }
  }

  &__rendered {
    flex: 1;
  }
}
